@model Public_MVC.Models.Apartment
@using Public_MVC.Extensions
@using Recaptcha.Web.Mvc
@using Public_MVC.Resources
@{

    ViewBag.Title = "Details";
}
<style>
    .card {
        border: thin;
    }

    .card-img-top-container {
        border: 1px solid #ccc;
        overflow-x: auto;
    }

    .thumbnail-image {
        padding: 1px;
        height: 100%
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>@Model.Name</h3>
        </div>
        <div class="card-body">
            <div class="card-img-top-container">
                @if (Model.ApartmentPictures.Count < 1)
                {
                    Public_MVC.Models.ApartmentPicture defaultImage = new Public_MVC.Models.ApartmentPicture();
                    defaultImage.Name = "No_Image.jpg";
                    defaultImage.Base64Content = Convert.ToBase64String(System.IO.File.ReadAllBytes(Server.MapPath("~/Images/No_image.jpg")));

                    defaultImage.IsRepresentative = true;

                    Model.ApartmentPictures.Add(defaultImage);

                }
                @foreach (var image in Model.ApartmentPictures)
                {
                    <a class="fancy-photo"
                       href="data:image/png;base64,@Convert.ToBase64String(image.Base64Content.FromBase64String())"
                       rel="group">
                        <img class="card-img-top thumbnail-image" src="data:image/png;base64,@Convert.ToBase64String(image.Base64Content.FromBase64String())" alt="...">
                    </a>
                }
            </div>
            <div class="description" style="display: flex; flex-wrap: nowrap; justify-content:space-between">
                <div class="card-text">
                    <dl class="row">
                        <dt class="col-sm-3">@Resource.name:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-3">@Resource.status:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.ApartmentStatus.Name)</dd>

                        <dt class="col-sm-3">@Resource.city:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.City.Name) </dd>

                        <dt class="col-sm-3">@Resource.address:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address) </dd>

                        <dt class="col-sm-3">@Resource.price:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price) </dd>

                        <dt class="col-sm-3">@Resource.adults:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaxAdults) </dd>

                        <dt class="col-sm-3">@Resource.children:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaxChildren) </dd>

                        <dt class="col-sm-3">@Resource.rooms:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalRooms) </dd>

                        <dt class="col-sm-3">@Resource.beachDistance:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.BeachDistance) </dd>
                    </dl>
                </div>
                <div>
                    <h5>@Resource.tags:</h5>
                    <ul>
                        @foreach (var tag in Model.TaggedApartments)
                        {
                            <li>@tag.Tag.Name</li>
                        }
                    </ul>
                </div>

            </div>
            <div class="card-text">
                @Html.ActionLink(Resource.backToApartments, "Index")
            </div>

            <div style="display: flex; flex-wrap: nowrap; justify-content:space-between">

                <form id="review-form">
                    <div class="form-group">
                        <label for="reviewDetails">@Resource.reviewDetails:</label>
                        <textarea class="form-control" name="details" id="details"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="stars">@Resource.stars:</label>
                        <input type="number" class="form-control" name="stars" id="stars" min="1" max="5">
                    </div>
                    <input type="hidden" name="apartmentId" value="@Model.Id">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="submit" class="btn btn-primary">@Resource.submit</button>
                        <input type="hidden" name="userName" value="@User.Identity.Name" />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" disabled>@Resource.submit</button>
                        <label class="alert-warning" style="margin-left:2px">@Resource.reviewsBlocked!</label>
                    }
                </form>


                <form id="reserve-form">

                    @if (User.Identity.IsAuthenticated)
                    {
                        using (var db = new Public_MVC.Context.ApartmentsContext())
                        {
                            var user = db.AspNetUsers.Where(u => u.Email == User.Identity.Name).FirstOrDefault();
                            if (user != null)
                            {
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" value="@user.Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">@Resource.phone:</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" value="@user.PhoneNumber" required>
                                </div>
                                <div class="form-group">
                                    <label for="address">@Resource.address:</label>
                                    <input type="text" class="form-control" id="address" name="address" value="@user.Address" required>
                                </div>
                                <input type="hidden" name="userId" value="@user.Id" />

                                <button type="submit" class="btn btn-primary">@Resource.reserve</button>
                            }
                        }
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">@Resource.phone:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label for="address">@Resource.address:</label>
                            <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                        @Html.RecaptchaWidget()
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                @Html.ValidationSummary()
                            </div>
                        }

                        <button type="submit" class="btn btn-primary">@Resource.reserve</button>

                    }

                    <input type="hidden" name="apartmentId" value="@Model.Id">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#review-form').on('submit', function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: "@Url.Action("LeaveReview", "Apartments")",
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: response.message
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.message
                        })
                    }
                }
            });
        });
    });
</script>


<script>
    $("#reserve-form").submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();

        $.ajax({
            url: "@Url.Action("ReserveApartment", "Apartments")",
            type: "POST",
            data: formData,
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.message
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message
                    })
                }
            }
        });
    });
</script>


