@model Public_MVC.Models.Apartment
@using Public_MVC.Extensions
@using Recaptcha.Web.Mvc
@{

    ViewBag.Title = "Details";
}
<style>
    .card {
        border: thin;
    }

    .card-img-top-container {
        border: 1px solid #ccc;
        overflow-x: auto;
    }

    .thumbnail-image {
        padding: 1px;
        height: 100%
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>@Model.Name</h3>
        </div>
        <div class="card-body">
            <div class="card-img-top-container">
                @foreach (var image in Model.ApartmentPictures)
                {
                    <a class="fancy-photo"
                       href="data:image/png;base64,@Convert.ToBase64String(image.Base64Content.FromBase64String())"
                       rel="group">
                        <img class="card-img-top thumbnail-image" src="data:image/png;base64,@Convert.ToBase64String(image.Base64Content.FromBase64String())" alt="...">
                    </a>
                }
            </div>
            <div style="display: flex; flex-wrap: nowrap; justify-content:space-between">
                <div class="card-text">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.ApartmentStatus.Name)</dd>

                        <dt class="col-sm-3">City</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.City.Name) </dd>

                        <dt class="col-sm-3">Addres</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address) </dd>

                        <dt class="col-sm-3">Price</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price) </dd>

                        <dt class="col-sm-3">Adults</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaxAdults) </dd>

                        <dt class="col-sm-3">Children</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaxChildren) </dd>

                        <dt class="col-sm-3">Rooms</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalRooms) </dd>

                        <dt class="col-sm-3">Beach distance</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.BeachDistance) </dd>
                    </dl>
                </div>
                <div>
                    <h5>Tags:</h5>
                    <ul>
                        @foreach (var tag in Model.TaggedApartments)
                        {
                            <li>@tag.Tag.Name</li>
                        }
                    </ul>
                </div>

            </div>
            <div class="card-text">
                @Html.ActionLink("Back to all apartments", "Index")
            </div>

            <div style="display: flex; flex-wrap: nowrap; justify-content:space-between">
                <form id="review-form">
                    <div class="form-group">
                        <label for="details">Review details:</label>
                        <textarea class="form-control" name="details" id="details"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="stars">Stars:</label>
                        <input type="number" class="form-control" name="stars" id="stars" min="1" max="5">
                    </div>
                    <input type="hidden" name="apartmentId" value="@Model.Id">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" disabled>Submit</button>
                        <label class="alert-warning" style="margin-left:2px">Reviews are only available to logged in users</label>
                    }
                </form>


                <form id="reserve-form">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (var db = new Public_MVC.Context.ApartmentsContext())
                        {
                            var user = db.AspNetUsers.Where(u => u.Email == User.Identity.Name).FirstOrDefault();
                            if (user != null)
                            {
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" value="@user.Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" value="@user.PhoneNumber" required>
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" value="@user.Address" required>
                                </div>
                                <input type="hidden" name="userId" value="@user.Id" />


                                <button type="submit" class="btn btn-primary">Reserve</button>
                            }
                        }
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                        @Html.RecaptchaWidget()
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                @Html.ValidationSummary()
                            </div>
                        }

                        <button type="submit" class="btn btn-primary">Reserve</button>

                    }

                    <input type="hidden" name="apartmentId" value="@Model.Id">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#review-form').on('submit', function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: "@Url.Action("LeaveReview", "Apartments")",
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: response.message
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.message
                        })
                    }
                }
            });
        });
    });
</script>


<script>
    $("#reserve-form").submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();

        $.ajax({
            url: "@Url.Action("ReserveApartment", "Apartments")",
            type: "POST",
            data: formData,
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.message
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message
                    })
                }
            }
        });
    });
</script>


