@model Public_MVC.Context.ApartmentsContext
@using Public_MVC.Extensions
@using Public_MVC.Models
@using Public_MVC.Resources
@{
    
    var cityCookie = Request.Cookies["city"];
    var roomsCookie = Request.Cookies["rooms"];
    var adultsCookie = Request.Cookies["adults"];
    var childrenCookie = Request.Cookies["children"];
    var sortCookie = Request.Cookies["sort"];

    ViewBag.Title = "Index";
}

<style>
    .form-inline {
        margin-top: 1.25rem;
        display: flex;
        justify-content: center;
    }

    .form-group {
        margin-inline: 0.5rem;
    }

    .card {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<div class="form-inline">
    <div class="form-group">
        <label for="ddlCities">@Resource.city:</label>
        <select class="form-control" id="ddlCities">
            <option value="Any">@Resource.any</option>
            @foreach (var city in Model.Cities.OrderBy(c => c.Name))
            {
                <option value="@city.Name" @(cityCookie?.Value == city.Name ? "selected" : "")>@city.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="totalRooms">@Resource.rooms:</label>
        <input type="number" class="form-control" id="totalRooms" min="0" step="1" value="@(roomsCookie != null ? roomsCookie.Value : "")" />

    </div>

    <div class="form-group">
        <label for="maxAdults">@Resource.adults:</label>
        <input type="number" class="form-control" id="maxAdults" min="0" step="1" value="@(adultsCookie != null ? adultsCookie.Value : "")" />
    </div>

    <div class="form-group">
        <label for="maxChildren">@Resource.children:</label>
        <input type="number" class="form-control" id="maxChildren" min="0" step="1" value="@(childrenCookie != null ? childrenCookie.Value : "")">
    </div>
    <button type="button" id="btnFilter" class="btn btn-primary">@Resource.filter</button>
</div>

<div class="form-inline">
    <div class="form-group">
        <label for="sortByPrice">@Resource.sort:</label>
        <select class="form-control" id="sortByPrice" name="sortByPrice">
            <option value="default" @(sortCookie != null && sortCookie.Value == "default" ? "selected" : "")>@Resource.defaultSort</option>
            <option value="ascending" @(sortCookie != null && sortCookie.Value == "ascending" ? "selected" : "")>@Resource.ascending</option>
            <option value="descending" @(sortCookie != null && sortCookie.Value == "descending" ? "selected" : "")>@Resource.descending</option>
        </select>
    </div>
</div>


<div id="apartmentsContainer" style="margin-top: 1.25rem">

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(window).on('load', function () {
        filterApartments();
    });

    $(document).ready(function () {
        $("#btnFilter").click(function () {
            filterApartments();
        });
    });

    $("#sortByPrice").change(function () {
        filterApartments();
    });

    function filterApartments() {

        var city = $("#ddlCities").val();

        if (city == "Any") {
            city = null
        }
        var totalRooms = $("#totalRooms").val();
        var maxAdults = $("#maxAdults").val();
        var maxChildren = $("#maxChildren").val();
        var sortByPrice = $("#sortByPrice").val();

        $.ajax({
            type: "Post",
            url: "@Url.Action("Filter", "Apartments")",
            data: { city: city, totalRooms: totalRooms, maxAdults: maxAdults, maxChildren: maxChildren, sortByPrice: sortByPrice },
            success: function (result) {
                $("#apartmentsContainer").html(result);
            }
        });
    }
</script>


