<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MyCss/CardsAndDetails.css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet"
          href="~/Content/jquery.fancybox.css"
          type="text/css"
          media="screen" />
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css " rel="stylesheet" />

</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <main>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Rwa", "Index", "Apartments", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Apartments", "Index", "Apartments")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="body-content" style="width: 100%;">
                @RenderBody()
            </div>
        </main>

        <footer class="pt-3 bg-dark">
            <p class="text-center">&copy; @DateTime.Now.Year Leo Žarković</p>
            <p class="text-center">Algebra University College</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.fancybox.pack.js")
    @RenderSection("scripts", required: false)
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
    
    <script>
        $(document).ready(function () {
            $(".fancy-photo").fancybox({
                cyclic: true,
                onUpdate: function () {
                    $(".fancybox-nav span").css({
                        visibility: "visible"
                    });
                    return;
                },
                afterClose: function () {
                    $(".fancybox-nav span").css({
                        visibility: "hidden"
                    });
                    return;
                }
            });
        });
    </script>
</body>
</html>
